<section
  class="flex flex-col gap-[16px] lg:p-[40px] p-[20px] lg:max-w-[1140px] mx-auto"
>
  <app-alert
    [onClose]="onCloseAlert.bind(this)"
    [showAlert]="showAlert"
    [alertType]="alertType"
    [alertMessage]="alertMessage"
  ></app-alert>

  <div class="flex justify-between">
    <h1 class="text-[32px] font-semibold pb-[16px]">Hello, Admin 👋</h1>
    <app-button [variant]="'contained'" [action]="logout.bind(this)"
      >Logout</app-button
    >
  </div>

  <div
    class="flex flex-col gap-[16px] md:flex-row md:justify-between md:items-center"
  >
    <app-search (search)="onSearch($event)"></app-search>
    <div class="flex flex-row items-center gap-[8px]">
      <app-button [variant]="'outlined'" [action]="addEmployee.bind(this)"
        >Add Employee</app-button
      >
      <app-dropdown
        [label]="labelSize"
        [dropdownItems]="dropdownItems"
        (itemSelected)="handleItemSelectedDropdown($event)"
      ></app-dropdown>
    </div>
  </div>

  <app-table
    [columns]="columns"
    [data]="employees"
    [sortAction]="sortAction.bind(this)"
    (rowEdit)="onClickEdit($event)"
    (rowClick)="onClickRow($event)"
    (rowDelete)="onClickDelete($event)"
  ></app-table>

  <app-pagination
    [pageNumber]="page"
    [pageSize]="size"
    [totalData]="totalEmployees"
    [totalDataPerPage]="employees.length + (page - 1) * size"
    [goToPreviousPage]="goToPreviousPage.bind(this)"
    [goToNextPage]="goToNextPage.bind(this)"
  ></app-pagination>
</section>
