<nav
  class="flex items-center flex-wrap flex-row justify-between pt-4 md:gap-[16px]"
  aria-label="Table navigation"
>
  <span class="text-sm font-normal text-gray-500 block">
    Showing
    <span class="font-semibold text-gray-900"
      >{{ (pageNumber - 1) * pageSize + 1 }}-{{ totalDataPerPage }}</span
    >
    of
    <span class="font-semibold text-gray-900">{{ totalData }}</span>
  </span>
  <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
    <li>
      <div
        class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 cursor-pointer"
        [class.opacity-50]="pageNumber === 1 || totalData <= pageSize"
        (click)="goToPreviousPage()"
      >
        Previous
      </div>
    </li>
    <li>
      <div
        class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 cursor-pointer"
        [class.opacity-50]="pageNumber === maxPage || totalData <= pageSize"
        (click)="goToNextPage()"
      >
        Next
      </div>
    </li>
  </ul>
</nav>
