<div *ngIf="showAlert" [ngClass]="alertClasses">
  <span class="text-xl inline-block mr-5 align-middle">
    <i class="fas fa-bell"></i>
  </span>
  <span class="inline-block align-middle mr-8">
    <b class="capitalize">{{ alertType }}!</b> {{ alertMessage }}
  </span>
  <button
    class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none"
    (click)="onClose()"
  >
    <span>×</span>
  </button>
</div>
