<section
  class="bg-gray-50 min-h-screen flex items-center justify-center py-8 px-6"
>
  <div class="bg-white rounded-lg shadow-lg w-full max-w-4xl p-6 space-y-4">
    <h1 class="text-2xl font-bold text-gray-900">Add Employee</h1>
    <form
      [formGroup]="employeeForm"
      (ngSubmit)="onSubmit()"
      class="grid gap-6 grid-cols-2"
    >
      <div class="flex flex-col md:col-span-1 col-span-2">
        <label for="username" class="mb-2 text-sm font-medium text-gray-900"
          >Username</label
        >
        <input
          type="text"
          formControlName="username"
          id="username"
          class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
        />
        <div *ngIf="submitted && employeeForm.controls['username'].errors">
          <small
            class="text-red-500"
            *ngIf="employeeForm.controls['username'].errors['required']"
            >Username is required</small
          >
        </div>
      </div>
      <div class="flex flex-col md:col-span-1 col-span-2">
        <label for="firstName" class="mb-2 text-sm font-medium text-gray-900"
          >First Name</label
        >
        <input
          type="text"
          formControlName="firstName"
          id="firstName"
          class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
        />
        <div *ngIf="submitted && employeeForm.controls['firstName'].errors">
          <small
            class="text-red-500"
            *ngIf="employeeForm.controls['firstName'].errors['required']"
            >First Name is required</small
          >
        </div>
      </div>
      <div class="flex flex-col md:col-span-1 col-span-2">
        <label for="lastName" class="mb-2 text-sm font-medium text-gray-900"
          >Last Name</label
        >
        <input
          type="text"
          formControlName="lastName"
          id="lastName"
          class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
        />
        <div *ngIf="submitted && employeeForm.controls['lastName'].errors">
          <small
            class="text-red-500"
            *ngIf="employeeForm.controls['lastName'].errors['required']"
            >Last Name is required</small
          >
        </div>
      </div>
      <div class="flex flex-col md:col-span-1 col-span-2">
        <label for="email" class="mb-2 text-sm font-medium text-gray-900"
          >Email</label
        >
        <input
          type="email"
          formControlName="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
          placeholder="name@company.com"
        />
        <div *ngIf="submitted && employeeForm.controls['email'].errors">
          <small
            class="text-red-500"
            *ngIf="employeeForm.controls['email'].errors['required']"
            >Email is required</small
          >
          <small
            class="text-red-500"
            *ngIf="employeeForm.controls['email'].errors['email']"
            >Email is not valid</small
          >
        </div>
      </div>
      <div class="flex flex-col md:col-span-1 col-span-2">
        <label for="birthDate" class="mb-2 text-sm font-medium text-gray-900"
          >Birth Date</label
        >
        <mat-form-field appearance="fill" class="w-full">
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="birthDate"
            id="birthDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div *ngIf="submitted && employeeForm.controls['birthDate'].errors">
          <small
            class="text-red-500"
            *ngIf="employeeForm.controls['birthDate'].errors['required']"
            >Birth Date is required</small
          >
          <small
            class="text-red-500"
            *ngIf="employeeForm.controls['birthDate'].errors['maxDate']"
            >Birth Date cannot be in the future</small
          >
        </div>
      </div>
      <div class="flex flex-col md:col-span-1 col-span-2">
        <label for="basicSalary" class="mb-2 text-sm font-medium text-gray-900"
          >Basic Salary</label
        >
        <input
          type="text"
          formControlName="basicSalary"
          id="basicSalary"
          class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
        />
        <div *ngIf="submitted && employeeForm.controls['basicSalary'].errors">
          <small
            class="text-red-500"
            *ngIf="employeeForm.controls['basicSalary'].errors['required']"
            >Basic Salary is required</small
          >
          <small
            class="text-red-500"
            *ngIf="employeeForm.controls['basicSalary'].errors['pattern']"
            >Basic Salary must be a number</small
          >
        </div>
      </div>
      <div class="flex flex-col md:col-span-1 col-span-2">
        <label for="status" class="mb-2 text-sm font-medium text-gray-900"
          >Status</label
        >
        <input
          type="text"
          formControlName="status"
          id="status"
          class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
        />
        <div *ngIf="submitted && employeeForm.controls['status'].errors">
          <small
            class="text-red-500"
            *ngIf="employeeForm.controls['status'].errors['required']"
            >Status is required</small
          >
        </div>
      </div>
      <div class="flex flex-col md:col-span-1 col-span-2">
        <label for="group" class="mb-2 text-sm font-medium text-gray-900"
          >Group</label
        >
        <mat-form-field appearance="fill" class="w-full">
          <mat-select
            formControlName="group"
            id="group"
            placeholder="Select Group"
          >
            <mat-option *ngFor="let group of groups" [value]="group">{{
              group
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="submitted && employeeForm.controls['group'].errors">
          <small
            class="text-red-500"
            *ngIf="employeeForm.controls['group'].errors['required']"
            >Group is required</small
          >
        </div>
      </div>
      <div class="flex flex-col col-span-2">
        <label for="description" class="mb-2 text-sm font-medium text-gray-900"
          >Description</label
        >
        <input
          type="text"
          formControlName="description"
          id="description"
          class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
        />
        <div *ngIf="submitted && employeeForm.controls['description'].errors">
          <small
            class="text-red-500"
            *ngIf="employeeForm.controls['description'].errors['required']"
            >Description is required</small
          >
        </div>
      </div>
      <div class="flex justify-between col-span-2">
        <button
          type="button"
          class="bg-gray-500 text-white px-5 py-2.5 rounded-lg"
          (click)="onCancel()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="bg-blue-600 text-white px-5 py-2.5 rounded-lg"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</section>
