<h2 mat-dialog-title>Confirm Delete</h2>
<mat-dialog-content>
  <p>
    Are you sure you want to delete
    <i class="not-italic font-bold">{{ data.label }}</i
    >?
  </p>
</mat-dialog-content>
<mat-dialog-actions class="flex flex-row gap-[16px]">
  <app-button [variant]="'outlined'" mat-button mat-dialog-close
    >Cancel</app-button
  >
  <app-button
    mat-button
    [mat-dialog-close]="true"
    [variant]="'contained'"
    (click)="onConfirm()"
    >Delete</app-button
  >
</mat-dialog-actions>
