/* base */
@import "./tailwindcss/base.scss";

/* components */
@import "./tailwindcss/components.scss";

/* utilities */
@import "./tailwindcss/utilities.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
