<section class="bg-gray-50">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
        >
          Sign in to your account
        </h1>
        <form
          class="space-y-4 md:space-y-6"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Your email</label
            >
            <input
              type="email"
              name="email"
              formControlName="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-[#0284c7] focus:border-[#0284c7] block w-full p-2.5"
              placeholder="name@company.com"
            />
            <div *ngIf="submitted && loginForm.controls['email'].errors">
              <small
                class="text-red-500"
                *ngIf="loginForm.controls['email'].errors['required']"
                >Email is required</small
              >
              <small
                class="text-red-500"
                *ngIf="loginForm.controls['email'].errors['email']"
                >Email is not valid</small
              >
            </div>
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Password</label
            >
            <input
              [type]="showPassword ? 'text' : 'password'"
              name="password"
              formControlName="password"
              id="password"
              placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-[#0284c7] focus:border-[#0284c7] block w-full p-2.5"
            />
            <div class="flex flex-row justify-between">
              <div>
                <small
                  class="text-red-500 w-full"
                  *ngIf="submitted && loginForm.controls['password'].errors?.['required']"
                  >Password is required</small
                >
              </div>
              <div>
                <small
                  class="text-blue-500 text-right w-full cursor-pointer"
                  (click)="onShowPassword()"
                  >Show Password</small
                >
              </div>
            </div>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <input
                  id="remember"
                  aria-describedby="remember"
                  type="checkbox"
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-[#7dd3fc]"
                />
              </div>
              <div class="ml-3 text-sm">
                <label for="remember" class="text-gray-500">Remember me</label>
              </div>
            </div>
            <a
              href="#"
              class="text-sm font-medium text-[#0284c7] hover:underline"
              >Forgot password?</a
            >
          </div>
          <button
            type="submit"
            class="w-full text-white bg-[#0284c7] hover:bg-[#0369a1] focus:ring-4 focus:outline-none focus:ring-[#7dd3fc] font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            Sign in
          </button>
          <p class="text-sm font-light text-gray-500">
            Don’t have an account yet?
            <i
              (click)="redirectSignUp()"
              class="font-medium text-[#0284c7] hover:underline not-italic cursor-pointer"
              >Sign up</i
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
