<section
  class="bg-gray-50 min-h-screen flex items-center justify-center py-8 px-6"
>
  <div class="bg-white rounded-lg shadow-lg w-full max-w-4xl p-6 space-y-4">
    <div class="flex justify-between">
      <h1 class="text-2xl font-semibold pb-16px">Employee Detail</h1>
      <button
        class="bg-blue-600 text-white px-5 py-2.5 rounded-lg"
        (click)="goBackToList()"
      >
        Back to List
      </button>
    </div>
    <div class="grid gap-6 md:grid-cols-2">
      <div class="flex flex-col">
        <h2 class="text-xl font-medium text-gray-900">Username:</h2>
        <p class="text-lg text-gray-700">{{ employee.username }}</p>
      </div>
      <div class="flex flex-col">
        <h2 class="text-xl font-medium text-gray-900">Name:</h2>
        <p class="text-lg text-gray-700">
          {{ employee.firstName }} {{ employee.lastName }}
        </p>
      </div>
      <div class="flex flex-col">
        <h2 class="text-xl font-medium text-gray-900">Email:</h2>
        <p class="text-lg text-gray-700">{{ employee.email }}</p>
      </div>
      <div class="flex flex-col">
        <h2 class="text-xl font-medium text-gray-900">Birth Date:</h2>
        <p class="text-lg text-gray-700">
          {{ employee.birthDate | date : "dd-MM-yyyy" }}
        </p>
      </div>
      <div class="flex flex-col">
        <h2 class="text-xl font-medium text-gray-900">Basic Salary:</h2>
        <p class="text-lg text-gray-700">
          {{ employee.basicSalary | currency }}
        </p>
      </div>
      <div class="flex flex-col">
        <h2 class="text-xl font-medium text-gray-900">Status:</h2>
        <p class="text-lg text-gray-700">{{ employee.status }}</p>
      </div>
      <div class="flex flex-col">
        <h2 class="text-xl font-medium text-gray-900">Group:</h2>
        <p class="text-lg text-gray-700">{{ employee.group }}</p>
      </div>
      <div class="flex flex-col">
        <h2 class="text-xl font-medium text-gray-900">Description:</h2>
        <p class="text-lg text-gray-700">{{ employee.description }}</p>
      </div>
    </div>

    <button
      class="bg-blue-600 text-white px-5 py-2.5 rounded-lg"
      (click)="goBackToList()"
    >
      OK
    </button>
  </div>
</section>
