<div class="flex flex-wrap">
  <div class="relative inline-flex align-middle w-full">
    <button
      class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
      type="button"
      (click)="toggleDropdown($event)"
      #btnDropdownRef
    >
      {{ label }}
    </button>
  </div>
</div>
<div class="z-50" style="min-width: 12rem" #popoverDropdownRef>
  <div
    class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1"
    style="min-width: 12rem"
    [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
  >
    <a
      *ngFor="let item of dropdownItems"
      href="#"
      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
      (click)="selectItem(item.value)"
    >
      {{ item.label }}
    </a>
    <div
      *ngIf="dropdownItems.length > 0"
      class="h-0 my-2 border border-solid border-t-0 border-blueGray-800 opacity-25"
    ></div>
  </div>
</div>
