<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th *ngFor="let column of columns" scope="col" class="px-6 py-3">
          <div class="flex items-center">
            {{ column.header }}
            <a
              *ngIf="column.sortable"
              href="#"
              (click)="sortAction(column.key)"
            >
              <svg
                class="w-3 h-3 ms-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                />
              </svg>
            </a>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Delete</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data" class="bg-white border-b">
        <td
          *ngFor="let column of columns"
          class="px-6 py-4"
          (click)="onClickRow($event, item)"
        >
          {{ item[column.key] }}
        </td>
        <td class="px-6 py-4 text-right">
          <a
            (click)="onClickEdit($event, item)"
            class="font-medium text-blue-600 hover:underline cursor-pointer"
            >Edit</a
          >
        </td>
        <td class="px-6 py-4 text-right">
          <a
            (click)="onClickDelete($event, item)"
            class="font-medium text-red-600 hover:underline cursor-pointer"
            >Delete</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
